@model ProyectoVideoJuegos.Models.Juego

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Principal.cshtml";
}

<h1>Crear</h1>

<h4>Juego</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" required />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Año" class="control-label"></label>
                <input asp-for="Año" class="form-control" required />
                <span asp-validation-for="Año" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protagonistas" class="control-label"></label>
                <input asp-for="Protagonistas" class="form-control" required />
                <span asp-validation-for="Protagonistas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" required />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productor" class="control-label"></label>
                <input asp-for="Productor" class="form-control" required />
                <span asp-validation-for="Productor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plataforma" class="control-label"></label>
                <input asp-for="Plataforma" class="form-control" required />
                <span asp-validation-for="Plataforma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioAlquiler" class="control-label"></label>
                <input asp-for="PrecioAlquiler" class="form-control" required />
                <span asp-validation-for="PrecioAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
