@{
    ViewData["Title"] = "Política de Privacidad";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <p>Fecha de entrada en vigor: 15 de abril de 2023</p>
    <p>ProyectoVideoJuego ("nosotros", "nos" o "nuestro") opera www.proyectovideojuego,com (el "Sitio") y provee servicios 
    de alquiler de videojuegos (el "Servicio"). Esta página le informa sobre nuestras políticas con respecto a la recopilación, 
    uso y divulgación de la información personal que recibimos de los usuarios del Sitio y Servicio.</p>
    <h2>Recopilación y Uso de Información</h2>
    <p>Al utilizar nuestro Sitio o Servicio, podemos solicitarle que nos proporcione cierta información personal identificable 
    que se puede utilizar para contactarlo o identificarlo. La información personal identificable puede incluir, entre otras cosas:</p>
    <ul>
        <li>Michael Lopez</li>
        <li>michael.lopez@pi.edu.co</li>
        <li>Cll72 N12-34</li>
        <li>ATEB</li>
        <li>Cuenta Bancolombia</li>
        <li>Información de la tarjeta de crédito</li>
    </ul>
    <p>Utilizamos su información personal identificable para los siguientes propósitos:</p>
    <ul>
        <li>Para proporcionar y mantener nuestro Servicio</li>
        <li>Para procesar sus pedidos y transacciones</li>
        <li>Para contactarlo con respecto a su cuenta o pedido</li>
        <li>Para enviarle actualizaciones o noticias sobre nuestro Servicio</li>
        <li>Para mejorar nuestro Servicio</li>
        <li>Para enviarle información de marketing sobre nuestros productos o servicios, pero solo si nos ha dado su consentimiento para hacerlo</li>
    </ul>
    <h2>Divulgación de Información</h2>
    <p>No vendemos, intercambiamos ni transferimos su información personal identificable a terceros, excepto como se describe a continuación:</p>
    <ul>
        <li>Podemos compartir su información personal identificable con nuestros proveedores de servicios externos que nos ayudan a proporcionar nuestro Servicio, como procesadores de pago, proveedores de alojamiento web, servicios de entrega y servicios de marketing por correo electrónico. Estos proveedores de servicios solo tienen acceso a la información personal necesaria para realizar sus funciones y no pueden utilizarla para otros fines.</li>
        <li>También podemos divulgar su información personal identificable si creemos que es necesario para cumplir con una ley, regulación o proceso legal aplicable, o para proteger los derechos, propiedad o seguridad de [nombre de tu empresa], nuestros usuarios o terceros.</li>
    </ul>
    <h2>Seguridad de la Información</h2>
    <p>Nos esforzamos por proteger su información personal identificable y tomamos medidas razonables para garantizar su seguridad.</p>
    <h2>Cookies</h2>
    <p>Nuestro sitio utiliza "cookies" para recopilar información y mejorar su experiencia de usuario. Las cookies son archivos con pequeñas cantidades de datos que pueden incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se almacenan en el disco duro de su computadora.</p>
    <p>Puede configurar su navegador para que rechace todas las cookies o para que indique cuándo se está enviando una cookie. Sin embargo, si no acepta cookies, es posible que no pueda utilizar algunas partes de nuestro Sitio o Servicio.</p>
    <h2>Cambios en la Política de Privacidad</h2>
    <p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
    <p>Se recomienda que revise esta Política de Privacidad periódicamente para detectar cualquier cambio. Los cambios en esta Política de Privacidad son efectivos cuando se publican en esta página.</p>
    <h2>Contacto</h2>
    <p>Si tiene alguna pregunta sobre esta Política de Privacidad, comuníquese con nosotros a través de la página de contacto en nuestro Sitio.</p>
    <script src="https://kit.fontawesome.com/d49ad5ab73.js" crossorigin="anonymous"></script>
</body>
</html>